.mainContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:32px;
}

.menuContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex:1 0 auto;
    max-width: 300px;
    gap:32px;
    background-color: rgb(48, 45, 45);
    max-height: 400px;
    padding:15px;
    border-radius: 10px;
    border:10px double yellow;

}

.drawingContainer{
    display: grid;
    width:  512px;
    height: 512px;
    margin: 10px;
    border: double;
    border-color:yellow;
    border-width: 10px;
}

.pixel{
    background-color: white;
}


body{
    display:flex;
    flex-direction: column;
    background-color: rgb(48, 45, 45);
}

.header{
    display:flex;
    background-color: rgb(48, 45, 45);
    color:white;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    justify-content: center;
    margin: 20px;
    border: double;
    border-color:yellow;
    border-width: 10px;
}

#colorInput{
    border:0;
    padding:4px;
    margin: 0px;
    border-radius: 100%;
    background-color: transparent;
    width: 3rem;
    height: 3rem;
}

.colorLabel{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.colorPickerContainer{
    display:flex;
    align-items: center;
    background-color: yellow;
    font-weight: bold;
    font-size: medium;
}

button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: yellow;
    font-weight: bold;
    font-size: medium;
}